<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=10.137.203.94,1433\SQLEXPRESS;Initial Catalog=21.101-27-PM.pr;user id=21.103k-03;password=Passw0rd" providerName="System.Data.SqlClient" />
    <add name="Entities" connectionString="metadata=res://*/bd.Model1.csdl|res://*/bd.Model1.ssdl|res://*/bd.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.137.203.94,1433\SQLEXPRESS;initial catalog=21.101-27-PM.pr;user id=21.103k-03;password=Passw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Model1" connectionString="data source=10.137.203.94,1433\SQLEXPRESS;initial catalog=21.101-27-PM.pr;user id=21.103k-03;password=Passw0rd;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model11" connectionString="data source=10.137.203.94,1433\SQLEXPRESS;initial catalog=21.101-27-PM.pr;user id=21.103k-03;password=Passw0rd;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>